<ion-header>
  <ion-toolbar color = "dark">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
    <ion-title>Rol </ion-title>
  </ion-toolbar >
</ion-header>
<ion-content padding>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <ion-button expand="block"  href="/registro-conductor" color="tertiary">Conductor</ion-button>
    <br>
    <ion-button expand="block"  href="/registro-empresa" color="success">Empresa</ion-button>
</ion-content>
