.background{
    --background: url(../../assets/img/conductor.jpg) 0 0/100% 100% no-repeat ;
}
.background1{
    --background: url(../../assets/img/empresas.jpg) 0 0/100% 100% no-repeat ;
}

.img {
    width: 100%;
	filter: drop-shadow(10px -16px 30px black);
	-webkit-filter: drop-shadow(10px -16px 30px black);
    -moz-filter: drop-shadow(10px -16px 30px black);
  
  }