<ion-header>
  <ion-toolbar color = "dark">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
    <ion-title>Rol </ion-title>
  </ion-toolbar >
</ion-header>
<ion-content >
    
   
    <ion-button expand="block"  href="/registro-conductor"   class="background img" style="width : 100% ; height : 49%"  >Conductor</ion-button>

    
    <ion-button expand="block"  href="/registro-empresa" class="background1 img"  style="width : 100% ; height : 49%" >Empresa</ion-button>


</ion-content>
