<ion-header>
    <ion-toolbar color="dark">
        <ion-title>
          Home Empresa
        </ion-title>
      </ion-toolbar>
</ion-header>





<ion-content>


  
    <ion-tabs>

      
    <!-- <ion-tab [root]="homeRoot" tabTitle="servicio"></ion-tab>-->
      
      <ion-tab-bar slot="bottom" color="light">
          <ion-tab-button tab="tab1">
            <ion-icon name="home"></ion-icon>
            
            <ion-label>Inicio</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="tab2" >
            <ion-icon name="rocket"></ion-icon>
            <ion-label>Servicios</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="tab3">
            <ion-icon name="contact"></ion-icon>
            <ion-label>Perfil</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      
      </ion-tabs>
    


      <ion-chip (click)="Onlogout()">
          <ion-avatar >
               <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
      <ion-label>Salir</ion-label>
     <ion-icon name="close-circle"></ion-icon>
     </ion-chip>



     
</ion-content>
